run = "pnpm install && pnpm run build && pnpm start"
modules = ["nodejs-20", "nix"]

[nix]
channel = "stable-25_05"

[deployment]
build = "NODE_ENV=development pnpm install --frozen-lockfile && pnpm run build"
run = ["sh", "-c", "NODE_ENV=production pnpm start"]

[env]
LOG_TIMESTAMP = "false"
